*{
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

header{
    width: 100vw;
    height: 15vh;
    background-color: rgb(255, 164, 78);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    background-color: rgb(252, 241, 219);
}

section{
    width: 40%;
    height: 80%;
    background-color: white;
    margin: 10px;
}

aside{
    width: 30vw;
    height: 70vh;
    background-color: rgba(253, 201, 122, 0.747);
}

footer{
    width: 100vw;
    height: 15vh;
    background-color: rgb(255, 164, 78);
}

@media (min-width:678px) and (max-width:1023px){
    section{
        width: 80%;
        height: 40%;
    }
}

@media (max-width:678px){
    main{
        width: 100vw;
    }

    section{
        width: 80%;
        height: 40%;
    }

    aside{
        display: none;
    }
}